[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/inkpot"]
	path = bundle/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "bundle/xoria256.vim"]
	path = bundle/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-characterize"]
	path = bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
